/* for Home.js */
.home-main {
  display: flex;
}
.home {
  width: 90%;
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.top-p {
  position: relative;
  height: 15vh;
  margin-bottom: 20px;
}
.bottom-p {
  position: relative;
  margin-top: 10px;
  height: 40vh;
}
.home p:not(.frontend) {
  font-family: var(--cursive);
  color: var(--html);
  font-size: 1.3em;
}
.home .not-this {
  font-family: "Manrope";
  color: var(--red);
  font-size: 1.4em;
  padding-right: 10px;
  text-shadow: 8px 3px 0px var(--green);
  transition: all 150ms ease;
}
.home .not-this:hover {
  color: var(--green);
  text-shadow: 8px 3px 0px var(--red);
}

.home h1 {
  font-size: 5em;
  line-height: 80px;
  padding: 10px 10px 10px 55px;
}
.frontend {
  color: var(--links);
  font-size: 1.3em;
  font-family: var(--simple);
  letter-spacing: 2px;
}
.paragraph {
  padding-left: 55px;
}
.h1 {
  position: relative;
  height: 40vh;
  display: flex;
  align-items: center;
}
.h1 span {
  font-family: "Manrope";
  cursor: pointer;
  color: white;
  transition: all 100ms linear;
  font-size: 1em;
}
.h1 span:hover:not(.not-this) {
  color: var(--green);
}
.contact {
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 55px;
  border: 1px solid var(--green);
  color: var(--green);
  padding: 10px 60px;
  font-size: 1.2em;
  letter-spacing: 3px;
  cursor: pointer;
  font-weight: bold;
  background: none;
  z-index: 1;
}
.contact:hover {
  color: var(--black);
}
.contact::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background-color: var(--green);
  transition: transform 300ms ease-in-out;
  transform: scaleX(0);
  color: var(--black);
  transform-origin: left;
}
.contact:hover::before,
.contact:focus::before {
  transform: scaleX(1);
}

/* For large screen */
@media only screen and (max-width: 1200px) {
  .home {
    width: 90%;
    padding: 10px;
  }
}
/* for laptop */
@media only screen and (max-width: 992px) {
  .home h1 {
    font-size: 4em;
    line-height: 60px;
  }
  /* .h1 {
      height: 30vh;
    } */
}
/* for Tablet */
@media only screen and (max-width: 768px) {
  .home h1 {
    font-size: 3em;
    line-height: 50px;
  }
  .h1 {
    height: 30vh;
  }
}
/* for Mobile */
@media only screen and (max-width: 600px) {
  .home h1 {
    font-size: 2.3em;
  }

  .contact {
    font-size: 0.8em;
    padding: 10px 30px;
  }
  .frontend {
    font-size: 0.8em;
  }
}
